{% block carousel %}

<div class="row">
    <div class="col-xs-12 col-md-12 col-lg-8 col-xxl-8">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                {% for image in images %}
                <div class="
                carousel-item
                {% if image.active == true %} {{ 'active' }} {% endif %}
                ">
                    <img src="{{ image.src }}" class="d-block w-100" alt="...">
                </div>
                {% endfor %}
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon bg-secondary rounded" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>

            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="next">
                <span class="carousel-control-next-icon bg-secondary rounded" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>

{% endblock %}